<h1>Abbrev.me</h1>
<h4>A simple, no-frills URL shortener.</h4>
<div id="form">
<%= form_for(@url) do |f| %>
	<%= f.text_field :original_url, :size => '55', :placeholder => "Enter your URL here."%>
	<p class="alert"><%= alert %></p>
	<%= f.submit "Shorten it!" %>
<% end %>
</div>
	