<div id="results">
	<p class="notice"><%= notice %></p>
	<p id="intro">Your abbreviated URL:</p>
	<%= link_to "abbrev.me/#{@url.shortened_url}", @url.shortened_url, :target => "_blank" %> <br>
		<br>
</div>
	<div id="shorten_another">
	<%= link_to "Click here to shorten another URL!", root_path %>
	</div>